<div data-role="none" id="{{subCategoryPage.categoryid}}" class="category-page page content-top">
	<div data-role="header" data-position="fixed" class="ui-header ui-bar-inherit ui-header-fixed" ng-class="{'active-menu': revealMenu}">
		<a href="#/subcategory?page={{subCategoryPage.parentid}}" class="header-nav-item ui-btn-left large menu"><i class="icon-arrow-left"></i></a>
		<h1 class="c">{{subCategoryPage.name}}</h1>
	</div>

	<div role="main" class="ui-content content-top" style="height: {{pageHeight}}px">
		<div class="row content-top category-grouping">
			<div class="span-1 c rounded-corners white category-container">
				
				<div class="span-1 c preloader" ng-show="showPreloader"><img src="../assets/350_small.gif"></div>

				<div class="span-1 light-grey-line bottom-line no-pad category-grouping-programs" ng-repeat="program in subCategoryPage.programs"  ng-if="subCategoryPage.programs.length != 0">
					<div class="span-40 no-pad pad-top pad-bottom">
						<a href="" ng-click="callVideo(program, subCategoryPage.categoryid, subCategoryPage.parentid)" data-transition="slide"><img ng-src="{{program.thumbnailUrl}}" style="width:100%;"></a>
					</div>
					<div class="span-60 l pad category-grouping-meta">
						<h5 class="med"><a href="" ng-click="callVideo(program, subCategoryPage.categoryid)" class="bold" data-transition="slide">{{program.Title}}</a></h5>
						<p class="small">Runtime: {{program.duration}}</p>
					</div>
				</div><!-- end program list -->


				<div class="span-1 light-grey-line bottom-line no-pad category-grouping-programs" ng-if="subCategoryPage.programs.length == 0 || subCategoryPage.programs == undefined">
					<div class="category-grouping-meta">
						<h2 class="large c">Sorry, but there are no programs found in {{subCategoryPage.name}}</h2>
					</div>
				</div><!-- no programs found -->

				<load-more-button 
					total="subCategoryPage.totalCount" 
					current="subCategoryPage.currentCount"
					category="subCategoryPage.categoryid"
					catindex="subCategoryPage.parentIndex"
					subcatindex="subCategoryPage.subIndex">
				</load-more-button>

			</div>
		</div>
	</div><!-- end main -->
</div><!-- Category page -->